.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: auto;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}